:root {
    --firstRed: #4D0916;
    --secondRed: #5C0B1A;
    --thirdRed: #690D1D;
    --helpText: #992238;
    --white: snow;
    --grey: grey;
}

body {
    margin: 0 auto;
}

ol {
    list-style-type: none;
    order: initial;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--firstRed);
    z-index: 1;
}

li {
    float: left;
    z-index: 1;
}

li span{
    margin-left: 25px;
    color: var(--white);
    z-index: 1;
    font-size: 28px;
    font-family: Serif;
}

.title{
    font-size: 28px;
    color: var(--grey);
    font-family: Serif;
    font-weight: bold;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 1;
}

li a:hover:not(.active) {
    background-color: var(--thirdRed);
    z-index: 1;
}